* {
  font: 150% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#wrapper {
  position:relative;
  width:100%;
  text-align: center;
}

#title {
}

#search-form {
  clear: all;
}

body {
  background: #93ccff;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 5%;
}

label, input {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#search {
  width: 80%;
  padding: 2%;
  border-radius: 15px;
}

#submit-button {
  width: 30%;
  margin-top: 5px;
  border-radius: 15px;

  background-image: linear-gradient(bottom, #FFD561 47%, #FFFFFF 76%, #FFFFFF 87%);
  background-image: -o-linear-gradient(bottom, #FFD561 47%, #FFFFFF 76%, #FFFFFF 87%);
  background-image: -moz-linear-gradient(bottom, #FFD561 47%, #FFFFFF 76%, #FFFFFF 87%);
  background-image: -webkit-linear-gradient(bottom, #FFD561 47%, #FFFFFF 76%, #FFFFFF 87%);
  background-image: -ms-linear-gradient(bottom, #FFD561 47%, #FFFFFF 76%, #FFFFFF 87%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.47, #FFD561),
    color-stop(0.76, #FFFFFF),
    color-stop(0.87, #FFFFFF)
  );
}

#results {
  width: 80%;
  margin: 5% auto 5% auto;
}

.search-result {
  width: 100%;
  margin-top: 2px;
  background: #81c2ff;
}

